.hand {
    cursor: pointer;
}

.hesabfa-tab-icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

a.nav-tab {
    font-family: IRANYekan, Tahoma;
    padding: 5px 10px;
    font-weight: normal;
    border-radius: 7px 7px 0px 0px;
}

.hesabfa-tab-page-title {
    font-family: IRANYekan !important;
    color: dimgray;
}

.hesabfa-p {
    font-family: IRANYekan, Tahoma;
}

.hesabfa-f {
    font-family: IRANYekan, Tahoma;
}

.hesabfa-f-12 {
    font-size: 12pt;
}

.hesabfa-header {
    font-family: IRANYekan, Tahoma;
    background-color: #304967;
    box-shadow: 5px 5px 5px #f3f3f3;
    padding: 5px;
    margin-right: -20px;
}

.hesabfa-header img {
    height: 35px;
}

.hesabfa-card {
    max-width: none !important;
    margin-left: 20px;
    background-color: whitesmoke !important;
}

.hesabfa-bold {
    font-weight: bold;
}

.hesabfa-plugin-tutorial-chapter {
    color: dimgray;
    font-weight: bold;
    border-bottom: 1px solid silver;
    margin-bottom: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.hesabfa-plugin-tutorial-chapter:hover {
    color: dodgerblue;
    cursor: pointer;
}